<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.womenwhocode.womenwhocode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WomenWhoCodeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.TimelineActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.FeatureDetailsActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.EventDetailsActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.PersonalizationActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.LoginEmailActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.SignUpEmailActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

    </application>

</manifest>
